<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.1/assets/img/favicons/favicon.ico">

    <title>FoodBox Online Delivery</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.1/examples/album/">

    <!-- Bootstrap core CSS -->
    <!-- <link href="../../dist/css/bootstrap.min.css" rel="stylesheet"> -->

    <!-- Custom styles for this template -->
    <!-- <link href="album.css" rel="stylesheet"> -->
  </head>

  <body>

   
    <header>
        
        <div class="navbar navbar-dark bg-dark shadow-sm">
          <div class="container d-flex justify-content-between">
            <a href="#" class="navbar-brand d-flex align-items-center">
              <!-- <svg xmlns="assets/img/foodbox_logo.png" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mr-2"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"></path><circle cx="12" cy="13" r="4"></circle></svg> -->
              <strong>FoodBox</strong>
            </a>
              <div *ngIf="isLoggedIn==true; else elseBlock">
                <ul class="nav nav-pills">
                  <!-- <li><small class="nav-link"> Welcome {{ username }}</small></li> -->
                  <!-- <li><a href="#" class="dropdown-toggle" data-toggle="dropdown"> Welcome {{ username }} <b class="caret"></b></a></li> -->
                  <li class="nav-item"><a routerLink="home" class="nav-link text-muted" aria-disabled=""> Welcome {{ username }}</a></li>
                  <li class="nav-item"><a routerLink="menu" class="nav-link">Menu</a></li>
                  <li *ngIf="isAdmin==true" class="nav-item"><a routerLink="product" class="nav-link">Manage Products</a></li>
                  <li class="nav-item"><a routerLink="cart" class="nav-link">Goto Cart</a></li>
                  <li class="nav-item"><a routerLink="logout"  class="nav-link">Logout</a></li>
                </ul>
    
              </div>
            <ng-template #elseBlock>
              <ul class="nav nav-pills">
                <li class="nav-item"><a routerLink="login" class="nav-link">Login</a></li>
                <li class="nav-item"><a routerLink="signup" class="nav-link">Sign Up</a></li>
              </ul>  
            </ng-template>
            
            <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button> -->
          </div>
        </div>
      </header>
  
<main class="container" style="text-align: center; align-self: center;">
    <div class="bg-light p-5 rounded">
        <router-outlet></router-outlet>
    </div>
  </main>
  

  <footer class="text-muted">
    <div class="container">
     
      
      <p>All rights reserved. Copyright © FoodBox Ltd. Disclaimer | T&C | Privacy Policy</p>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
  <script src="../../assets/js/vendor/popper.min.js"></script>
  <script src="../../dist/js/bootstrap.min.js"></script>
  <script src="../../assets/js/vendor/holder.min.js"></script>

</body>
</html>
